/*** Type It ***/
#typeit .typed {
    color: #2196F3;
}

#typeit .untyped {
    color: white !important;
    background-color: #2196F3 !important;
}

#typeit .cursor {
    position: relative;
}

#typeit .cursor:after {
    content: "|";
    position: absolute;
    font-size: 1.1em;
    top: -0.3em;
    font-weight: 100;
}

#typeit .blinking {
    opacity: 1;
    -webkit-animation: blink 0.5s infinite alternate;
    -moz-animation: blink 0.5s infinite alternate;
    animation: blink 0.5s infinite alternate;
}

.hide {
    display: none !important;
}

@keyframes blink {
    0%   { opacity: 1; }
    30%  { opacity: 1; }
    70%  { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes blink {
    0%   { opacity: 1; }
    30%  { opacity: 1; }
    70%  { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes blink {
    0%   { opacity: 1; }
    30%  { opacity: 1; }
    70%  { opacity: 0; }
    100% { opacity: 0; }
}
